<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-back-button text=""></ion-back-button>
    <ion-title>Pickup-Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.google.com/maps/about/images/mymaps/mymaps-desktop-16x9.png" alt="">
  <ion-card>
    <ion-card-content>
      <p>Address: Mabolo St., 23</p>
      <p>Complement: Apto 22</p>
      <p>Neighborhood: Curve 11</p>
      <p>Zip Code: 2200</p>
      <p>Olongapo City - Zambales</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button size="full" color="success">Create Pickup Call</ion-button> 
</ion-content>
